/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  /* Основной шрифт */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Светлая тема текста */
  --white-txt-cl: #ffffff;

  /* Тёмная тема текста */
  --dark-main-txt-cl: #757575;
  --dark-secondary-txt-cl: #212121;
  --logo-txt-cl: #2196f3;
  --link-txt-cl: #2196f3;
  --button-txt-link: #2196f3;

  /* Серая тема текста в футере - белая с прозрвчностью */

  --contact-txt-footer: rgba(255, 255, 255, 0.6);

  /* Светлая тема фона */
  --main-bg: #e5e5e5;
  --white-bg: #ffffff;
  --grey-bg: #f5f4fa;

  /* Тёмная тема фона */
  --black-bg: #2f303a;
  --button-bg-link: #ffffff;
  --button-bg-link-blue: #2196f3;
}

/* Основной стиль документа */
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--dark-main-txt-cl);
}

/* Ссылки */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}

/* Изменение курсора - стрелка на руку */
.link,
.btn {
  cursor: pointer;
}

/* Логотип */
.logo {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-secondary-txt-cl);
}

/* Web span*/
.web {
  color: var(--logo-txt-cl);
}

/* Ссылки в шапке */
.header-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-secondary-txt-cl);
}

/* Ссылки контактов в шапке */
.header-contacts-mail,
.header-contacts-phone {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: var(--dark-main-txt-cl);
}

/* Интерактивные элементы 
.logo:hover,
.logo:focus {
  color: var(--link-txt-cl);
}
*/

.header-link:hover,
.header-link:focus {
  color: var(--link-txt-cl);
}

.header-contacts-mail:hover,
.header-contacts-mail:focus {
  color: var(--link-txt-cl);
}

.header-contacts-phone:hover,
.header-contacts-phone:focus {
  color: var(--link-txt-cl);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--button-txt-link);
  background-color: var(--button-bg-link);
}

/* Заголовок героя */
.hero-title,
.portfolio-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-cl);
}

/* Фон героя - чёрный */
.hero-main {
  background-color: var(--black-bg);
}

/* Фон команды - серый */
.team {
  background-color: var(--grey-bg);
}

/* Основня кнопка */
.hero-button {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-txt-cl);
  background-color: var(--button-bg-link-blue);
  border-radius: 4px;
}

/* Описание приоритетов */
.priority {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--dark-main-txt-cl);
}

/* Заголовок приоритетов */
.priority-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-secondary-txt-cl);
}

/* Заголовок Чем мы занимаемся */
.jobs-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-secondary-txt-cl);
}

/* Заголовок Наша команда */
.team-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-secondary-txt-cl);
}

/* Имена членов команды */
.person-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-secondary-txt-cl);
}

/* Должность членов команды */
.person-rank {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-main-txt-cl);
}

/* Активные кнопки */
.button-item:hover,
.button-item:focus {
  color: var(--white-txt-cl);
  background-color: var(--button-bg-link-blue);
}

/* Текст и фон кнопок */
.button-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-secondary-txt-cl);
  background-color: var(--grey-bg);
  border-radius: 4px;
}

/* Название проектов */
.project-name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-secondary-txt-cl);
}

/* Описание проектов */
.project-description {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--dark-main-txt-cl);
}

/* Фон футера чёрный */
.footer {
  background-color: var(--black-bg);
}

/* Текст логотипа в футере белый */
.footer-logo {
  color: var(--white-txt-cl);
}

/* Текст контактов в футере белый */
.footer-contacts-map,
.footer-contacts-mail,
.footer-contacts-phone {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-txt-cl);
}

/* Текст контактов в футере белый */
.footer-contacts-mail,
.footer-contacts-phone {
  color: var(--contact-txt-footer);
}

/* Текст контактов в футере белый */
.ftrcont:hover,
.ftrcont:focus {
  color: var(--link-txt-cl);
}
