/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  /* Основной шрифт */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Светлая тема текста */
  --white-txt-cl: #ffffff;

  /* Тёмная тема текста */
  --dark-main-txt-cl: #757575;
  --dark-secondary-txt-cl: #212121;
  --logo-txt-cl: #2196f3;
  --link-txt-cl: #2196f3;
  --button-txt-link: #2196f3;

  /* Серая тема текста в футере - белая с прозрвчностью */

  --contact-txt-footer: rgba(255, 255, 255, 0.6);

  /* Светлая тема фона */
  --main-bg: #e5e5e5;
  --white-bg: #ffffff;
  --grey-bg: #f5f4fa;

  /* Тёмная тема фона */
  --black-bg: #2f303a;
  --button-bg-link: #ffffff;
  --button-bg-link-blue: #2196f3;
  --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Основной стиль документа */
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--dark-main-txt-cl);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* Ссылки */
.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-list {
  display: flex;
  align-items: center;
}

/* Изменение курсора - стрелка на руку */
.link,
.btn {
  cursor: pointer;
}

/* Логотип */
.logo {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-secondary-txt-cl);
}

/* Web span*/
.web {
  color: var(--logo-txt-cl);
}

/* Ссылки в шапке */
.header-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-secondary-txt-cl);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-wrapper {
  align-items: center;
  margin-left: auto;
}
.header-contacts-list {
  display: flex;
}

.header-contacts-mail {
  margin-right: 50px;
}

/* Ссылки контактов в шапке */
.header-contacts-mail,
.header-contacts-phone {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: var(--dark-main-txt-cl);
}

/* Интерактивные элементы 
.logo:hover,
.logo:focus {
  color: var(--link-txt-cl);
}
*/

.header-link:hover,
.header-link:focus {
  color: var(--link-txt-cl);
}

.header-contacts-mail:hover,
.header-contacts-mail:focus {
  color: var(--link-txt-cl);
}

.header-contacts-phone:hover,
.header-contacts-phone:focus {
  color: var(--link-txt-cl);
}

.header {
  border-bottom: 1px solid #ececec;
}

.hero-title {
  margin-top: 0;
  padding-top: 200px;
  padding-right: 252px;
  padding-bottom: 30px;
  padding-left: 252px;
}

/* Заголовок героя */
.hero-title,
.portfolio-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-cl);
}

/* Фон героя - чёрный */
.hero-main {
  background-color: var(--black-bg);
}

/* Фон команды - серый */
.team {
  background-color: var(--grey-bg);
}

/* Основня кнопка */
.hero-button {
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  min-width: 200px;
  padding: 10px 32px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-txt-cl);
  background-color: var(--button-bg-link-blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-button-conainer {
  padding-bottom: 200px;
}

/* Описание приоритетов */
.priority {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--dark-main-txt-cl);
}

/* Заголовок приоритетов */
.priority-title {
  margin-top: 0;
  padding-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-secondary-txt-cl);
}

.priority-text {
  margin: 0;
}

.priority-list {
  display: flex;
}

.priority-item:not(:last-child) {
  padding-right: 30px;
}

/* Заголовок Чем мы занимаемся */
.jobs-title {
  padding-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-secondary-txt-cl);
}

.jobs-list {
  display: flex;
}

.jobs-item:not(:last-child) {
  padding-right: 30px;
}

/* Заголовок Наша команда */
.team-title {
  padding-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-secondary-txt-cl);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
/*
.team-person:not(:last-child) {
  padding-right: 30px;
}
*/
.team-person {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person-name-rank {
  background-color: var(--white-bg);
  padding-top: 30px;
  padding-bottom: 30px;
}
.person-name,
.person-rank {
  margin-top: 0;
  text-align: center;
}

/* Имена членов команды */
.person-name {
  padding-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-secondary-txt-cl);
}

/* Должность членов команды */
.person-rank {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-main-txt-cl);
}

.portfolio-list {
  display: flex;
  justify-content: center;
}

.porftolio-list-item:not(:last-child) {
  padding-right: 8px;
}

/* Активные кнопки */
.button-item:hover,
.button-item:focus {
  color: var(--white-txt-cl);
  background-color: var(--button-bg-link-blue);
}

/* Текст и фон кнопок */
.button-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-secondary-txt-cl);
  background-color: var(--grey-bg);
  border-radius: 4px;
}

/* Название проектов */
.project-name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-secondary-txt-cl);
}

/* Описание проектов */
.project-description {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--dark-main-txt-cl);
}

.project-link-line1,
.project-link-line2,
.project-link-line3 {
  justify-content: space-between;
  display: flex;
  padding-bottom: 30px;
}

.project-link-line3 {
  padding-bottom: 0;
}
/*
.project-item:not(:last-child) {
  padding-right: 30px;
}
*/
.name-description {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.project-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* Фон футера чёрный */
.footer {
  background-color: var(--black-bg);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Текст логотипа в футере белый */
.footer-logo {
  color: var(--white-txt-cl);
}

.footer-contacts-list {
  padding-top: 20px;
}

.cont:not(:last-child) {
  padding-bottom: 9px;
}
/* Текст контактов в футере белый */
.footer-contacts-map,
.footer-contacts-mail,
.footer-contacts-phone {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-txt-cl);
}

/* Текст контактов в футере белый */
.footer-contacts-mail,
.footer-contacts-phone {
  color: var(--contact-txt-footer);
}

/* Текст контактов в футере белый */
.ftrcont:hover,
.ftrcont:focus {
  color: var(--link-txt-cl);
}
